@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-principal : #016A70;
    --cor-sendaria : #A2C579;
    --cor-terciaria : #FFFFDD;

    --fonte-principal : 'Krona One', sans-serif;
    --fonte-secundaria : 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-principal);
    color: #F6F6F6;
}

.cabeçalho {
    padding: 2% 0% 0% 10%;
    
}

.cabeçalho__menu {
    display: flex;
    gap: 80px;
    
}

.cabeçalho__menu__link {
    font-family: var(--fonte-secundaria);
    color: var(--cor-sendaria);
    font-size: 1.25rem;
    text-decoration: none;
}

.titulo-destaque{
    color: var(--cor-sendaria);
}

.apresentacao{
    padding: 8% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-principal);
}


.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__conteudo__texto__2 {
    font-size: 1.56rem;
    font-family: var(--fonte-principal);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    
}

.apresentacao__links__link{
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 50%;
    text-align: center;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: 380;
    padding: 1.34rem ;
    text-decoration: none;
    color: var(--cor-terciaria) ;
    font-family: var(--fonte-secundaria);
    border: 2px solid var(--cor-sendaria);
}

.acesse__minhas__redes {
    font-size: 1.5rem;
    font-family: var(--fonte-principal);
    font-weight: 400;

    
}
.apresentacao__links__link:hover {
    background-color: #015458 ;
    color: #ffffff;
}

.apresentacao__imagem {
    width: 50%;
}


.rodape {
    text-align: center;
   color: var(--cor-principal);
    background-color: var(--cor-sendaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.125rem;
    padding: 0.68rem ;
    font-weight: 400;
}

@media (max-width:1200px){
    .cabeçalho{
        padding: 12%;
    }
    .cabeçalho__menu {
        
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
}

